#highlightBookList {
    display: flex;
    width: 100%;
    #highlightBookListbody {
        display: flex;
        //flex-wrap: wrap;
        //justify-content: space-between;
        width: 100%; min-height: 10rem;
        scrollbar-width: none;
        //border: 4px dashed #89d4f1;   // 레이아웃 확인용
        .ant-row { width: 100%; }
    }
    #highlightBookListbody::-webkit-scrollbar {
        display: none;
    }
}

// xs: '480px', sm: '576px', md: '768px', lg: '992px', xl: '1200px', xxl: '1600px'
@media only screen and (max-width: 768px) {
    #highlightBookList {
        #highlightBookListbody { 
            display: flex;
            justify-content: center;
        }
    }
}