#readList {
    display: flex;
    width: 100%;
    #readListbody {
        display: flex;
        //flex-wrap: wrap;
        //justify-content: space-between;
        width: 100%; min-height: 10rem;
        //overflow: hidden;
        scrollbar-width: none;
        .ant-row { width: 100%; }
    }
}

// xs: '480px', sm: '576px', md: '768px', lg: '992px', xl: '1200px', xxl: '1600px'
@media only screen and (max-width: 768px) {
    #readList {
        #readListbody { 
            display: flex;
            justify-content: center;
        }
    }
}