#content {
    .info1 {
        #book_image {
            width: 20vh;
            height: 30vh;
            /* display: inline-block; */
            border-radius: 5px;
            box-shadow: 5px 5px 5px gray;
        }
    }
    .info2 {
        // display: flex;
        // padding: 5vh 3vh 5vh 5vh;
        .info-div {
            .ant-row {
                padding-bottom: 0.5vh;
            }
            .title {
                font-family: 'Helvetica';
                font-weight: bold;
                font-size: 2.5vh;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #212121;
            }
            .author {
                font-family: 'Helvetica';
                font-size: 1.5vh;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #484848;
            }
            h3 {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: normal;
                letter-spacing: 0.48px;
            }
            .star > .ant-rate {
                transform: scale(0.91);
            }
            .star > .ant-rate:hover {
                transform: scale(1);
            }
            .summary {
                padding: 1vh 0vh 1vh;
            }
            #button {
                .ant-col:nth-child(1) {
                    
                }
            }
        }
    }
}
