#content {
    display: flex;
    // margin: 10vh 0vh 0vh 0vh;
    justify-content:center;
    flex-direction: column;
    position: relative;
}

.displayDetailBookInfo {
    position: relative;
}

#book_image {
    /* width: 20%; */
    height: 30vh;
    /* display: inline-block; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

.info {
    // display: flex;
    padding: 5vh 3vh 5vh 5vh;
    .info-div {
        .ant-row {
            padding: 0.5vh 0.5vh 0.5vh 0.5vh;
        }
    }
    .title #h2 {
        font-family: 'Helvetica';
        font-weight: bolder;
        font-size: 2.5vh;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #212121;
    }

    .star {

    }
}
