.infoPageContainer{
    .infoPageLayout { 
        width: 100vw; min-height: 100vh;
        .infoPageContent {
            //width: 100%;
            height: 100%;
            margin: 13vh 12vw 0vh;
            font-size: 1.5vh;
        }
    }
}