#MyPageTOCLayout {
    width: 30vh;
    height: 40vh;
    border: 2px solid black;
    margin-top: 5vh;
    ul {
        li {
            border: 2px solid gray;
        }
        li:hover {
            background-color: gray;
        }
    }
}