#myAnno { 
    border: 6px solid #cabed8;
    cursor:pointer;
    margin: 8px;
    #memo{
        margin: 0.5rem;
    }
    #title, #date{
        float:right;
        color:gray
    }
    #text {
        display: inline-block;
        margin: 0.5rem;
        background-color: beige;
    }
}

#myAnno:hover {
    background-color: #ffffaa;
}

#username {
    display: inline-block;
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
