#title, #date{
    float:right;
    color:gray
}
#memo{
    margin: 0.5rem;
}
#anno { 
    border: 6px solid #cabed8;
    cursor:pointer;
    margin: 8px;
}

#anno:hover {
    background-color: #ffffaa;
}

#username {
    display: inline-block;
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

#text {
    display: inline-block;
    margin: 0.5rem;
    background-color: beige;
}