.MyAnnoContent { 
    margin: 8px 0;
    color: #ffffff;
    background-color: rgb(207, 211, 231);
    cursor:pointer;
    font-size: 14px; 
    #memo{
        margin: 0.5rem;
        color: rgba(28, 33, 62, 1);
    }
    #title, #date{
        float:right;
        color:gray
    }
    #text {
        display: inline-block;
        margin: 0.5rem;
        background-color: rgba(28, 33, 62, 1);
    }
}

.MyAnnoContent:hover {
    background-color: #ffffaa;
}