#my_book_list {
    margin: 5vh 5%; 
    height: 70vh; 
    width: 90%;
    background-color: #f6f7f9; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    scrollbar-width: none;
}

#my_bookListbody {
    margin: 5vh 0; 
    height: 70vh; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    scrollbar-width: none;
    .bookTitle {
        font-size: 0px;
        display: none;
    }
}

#my_book_list::-webkit-scrollbar {
    display: none;
}


// xs: '480px', sm: '576px', md: '768px', lg: '992px', xl: '1200px', xxl: '1600px'
@media only screen and (max-width: 768px) {
    #my_bookListbody {
        margin: 5vh auto;
        .book {
            //width: 100%;
            //display: flex;
            //justify-content: space-around;
            .bookTitle {
                padding-left: 2vw;
                font-size: 2vh !important;
                display: block;
            }
        }
    }
}