#anno { 
    border: 6px solid #def1de;
}

#username {
    display: inline-block;
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

#text {
    display: inline-block;
    margin: 0.5rem;
    background-color: beige;
    cursor:pointer
}

#text:hover {
    background-color: yellowgreen;
}