.AnnoList > #anno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica;
    border: none;
    border-bottom: 0.2vh solid #88887a;
    padding-bottom: 0.2vh;
    cursor:pointer;

    #username {
        font-size: 1.6vh;
        color: #ffffff;
    }
    #memo {
        color: #FF9700;
    }
    #text {
        background-color: #f8cb86;
    }
}
.AnnoList > #anno:hover {
    background-color: #88887a;
}