#annoBody {
  display: flex;
  flex-direction: column;
  padding: 0 1.7vh;
  .highText {
    background-color: rgba(28, 33, 62, 1);
    color: #ffffff;
    z-index: 999;
    padding: 0.5vh 0;
    margin: 0.5vh 0;
  }
  .inputAnno {
    // width: 26vh;
    // border-radius: 5vh;
    padding: 0.5vh 0;
    margin: 0.5vh 0;
  }
  .inputBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Helvetica;
    width: 100%;
    margin: 0.5vh 0;
    color: #ffffff;
    .isPublic {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      color: #fff1a2;
      font-weight: bold;
      font-family: Helvetica;
      .PublicButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 15px;
        min-width: 44px;
      }
      .ant-switch-checked {
        background-color: #fff1a2;
      }
    }
  }
}