#panel {
    width: 30vw;
    height: 100vh;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(28, 33, 62, 0.8);
    // border-color: red;
    z-index: 999;
}
