#select-annoList-arrange {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    width: 100%;
    margin: 2vh 0 0;
    
    button {
        padding: 0;
        width: 90%;
        height: 3.1vh;
        span {
            font-size: 2vh;
            font-family: Helvetica;
        }
    }
}