#select-annoList-arrange {
    margin: 10px 0;    
    padding: 10px 0;
    border: 2px solid gray;
}

#arrange-show {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

#arrange-display {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

#arrange-show-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#arrange-display-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#if_team_checked {
    visibility: hidden;
}