@import "./default.less";

#h {
    // position: relative;
    display: flex;
    justify-content:center;
    background-color: @home-bg-color;
}

#header {
    // position: absolute;
    // z-index: auto;
    // height: 20vh;
    // border: solid 1px #707070;
    // letter-spacing: normal;
    // float: center;
    // line-height: 64px;
    // text-decoration: none;
    // vertical-align: middle;
    // padding: 3.3rem 4.3rem 3.3rem 4.3rem;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

#renosh-title{
    font-family: 'BodoniSvtyTwoITCTT', serif;
    font-size: 48px;
    font-weight: bold;
    //text-align: center;
    color: @home-logo-color;
}

#renosh-slogan{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: normal;
    //text-align: center;
    color: @home-logo-color;
}
 