@import "./default.less";

#headerBelow {
    margin: 0.5rem 0rem; padding: 1vh 0 0 0;
    .buttonsDiv {
        // 오른쪽 정렬
        display: flex;
        justify-content: flex-end; 
        width: 100%;
        .ant-btn {
            //padding: 0px 0px;
            span {
                font-size: 1.9vh;   // 1.5vw보다 1.5vh가 자연스러움
            }
            span:nth-child(2) {
                margin-left: 0.8vh;
            }
        }
    }
}


// xs: '480px', sm: '576px', md: '768px', lg: '992px', xl: '1200px', xxl: '1600px'
/* styles for browsers smaller than 576px; */
@media only screen and (max-width: 576px) {
    #headerBelow > .buttonsDiv { 
        display: flex;
        justify-content: space-between !important;
        .ant-btn {
            padding: 0 0;
        }
        .ant-btn-text {
            // 버튼 확장
            span svg {
                font-size: 5vmin ;
            }
            // 텍스트 없애기
            span:nth-child(2) {
                display: none ;
            }
        }
    }
}