@import "./default.less";

#header {
    display: flex;
    justify-content:center;
    flex-direction: row;
    position:fixed;
    left:0;
    top:0;
    right: 0;
    z-index: 1000;
    height: 10vh;
    background-color: @home-bg-color; 
    .header {
        // position: absolute;
        // z-index: auto;
        // height: 20vh;
        // border: solid 1px #707070;
        // letter-spacing: normal;
        // float: center;
        // line-height: 64px;
        // text-decoration: none;
        // vertical-align: middle;
        // padding: 3.3rem 4.3rem 3.3rem 4.3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        #renosh-title{
            font-family: 'BodoniSvtyTwoITCTT', serif;
            font-size: 3vh;
            font-weight: bold;
            letter-spacing: -0.1vh;
            color: @home-logo-color;
        }
        
        #renosh-slogan{
            font-family: 'Arial', serif;
            font-size: 1vh;
            font-weight: normal;
            color: @home-logo-color;
        }
    }
}

 