#bookContent {
    border: 3px solid;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bookPagePrev {
    text-align: left;
}

#bookPageBack {
    text-align: right;
}
#page {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5vw;
}