.book {
    width: 20%;
    height: 35vh;
    
}

.bookImage {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.bookImage > img {    
    width: 8vw;
    height: 25vh;
    cursor: pointer;
}


.bookTitle {
    height: 10vh;
    text-align: center;
}

.title {
    cursor: pointer;
}