@import "./default.less";

#content{
    position: relative;
    // float: right;

}
#content-buttons{
    padding: 1em;
    float: right;
}
#content-row-title{
    padding: 1em 0;
}

#btn-font-size{
    font-size: 12px;

}