#listForm {
    width: 90vw;
    height: 20vh; 
    display: flex;
    justify-content: space-between;
}

#myPage {
    padding: 0;
    margin: 30px;
}

#searchDiv {
    margin: 2%;
}

#addBtn {
    margin: 3%;
    height: 4vh;
}